{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block head %}
<title>{% block title %}Remplir le formulaire{% endblock %}</title>
{% endblock %}
{% block content %}
  <form method="post" action="/makeSonnet">
    <p>Entrer des terms pour l'analogie dans l'espace vectoriel de mots.</p>
    {{ forms.input('Terme positif', 'pos', 'femme') }}
    {{ forms.input('Terme négatif', 'neg', 'homme') }}

    {{ forms.hidden_input('last_verse', 0) }}
    {{ forms.hidden_input('message', 0) }}
    <input type="submit" value="Send">
    <p>Sélectionner un vers:</p>
    {% for v in options %}
      <input type='radio' name='chosen' value='{{ v[0] }}'
      {% if loop.first %}
        checked
      {% endif %}
      > {{ v[1] }}<br/>
    {% else %}
      <p>Aucun vers n'a été trouvé! <a href="/start">Relancer.</a></p>
    {% endfor %}
    <p><input type="submit" value="Send"></p>
  </form>
{% endblock content%}
