{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block title %}Inventer un sonnet{% endblock title %}
{% block content %}
    <h1>Inventer un sonnet</h1>
    <p>Entrer des termes pour l'analogie dans l'espace vectoriel de mots.</p>
    <form method='post' action='/makeSonnet'>
      <p>Term positif : <input type='text' name='pos' value='{{ pos }}' size='10'></p>
      <p>Term positif : <input type='text' name='neg' value='{{ neg }}' size='10'></p>
    {% if message %}
      <p class='message'>{{ message }}</P>
    {% endif %}
    <p><input type="submit" value="Envoyer"></p>
    {% if verses|length > 1 %}
      <p><input type='radio' name='revise' value='0' checked> Ne rien réviser avant le vers {{ verses|length }}</p>
    {% endif %}
    <ol>
    {% for v in verses %}
      <li class='parent'>
      {% if loop.last %}
        <input type="text" name="last_verse" value="{{ v[0]|e }}" size="50">
      {% else %}
        {{ v[0] }}
      {% endif %}
      (<a href='http://www.theatre-classique.fr/pages/programmes/edition.php?t=../documents/{{ v[1] }}' target='_new'>{{ v[3] }}: {{ v[2] }})</a>
      {% if not loop.last %}
        <input type='radio' name='revise' value='{{ v[5] }}'> [Réviser à partir de ce vers]
      {% endif %}
      <div class='child'>{{ v[4] }} [{{ v[7] }}, {{ v[8] }}]</div>
      {% if loop.index in [4, 8, 11] %}
        <p></p>
      {% endif %}
        </li>
    {% else %}
      <li><em>Aucun vers trouvé.</em></li>
    {% endfor %}
    </ol>
    <p><input type="submit" value="Send"></p>
    {% if verses|length < 14 %}
      <p>Sélectionner le prochain vers:</p>
      {% for opt in options %}
        <input type='radio' name='chosen' value='{{ opt[0] }}'> {{ opt[1] }}<br>
      {% else %}
        <p>Plus de vers possible!</p>
      {% endfor %}
    {% endif%}
    </form>
    <p><a href="/again">Inventer un autre sonnet!</a></p>
{% endblock content %}
