{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block head %}
<title>{% block title %}Fill in the form{% endblock %}</title>
{% endblock %}
{% block content %}
  <form method="post" action="/makeSonnet">
    <p>Select a verse:</p>
    <select name="verse">
    {% for v in verses %}
      <option value="{{ v[0] }}">{{ v[1] }}</option>
    {% else %}
      <p>Could not find any verses! <a href="/start">Try again.</a></p>
    {% endfor %}
    </select>
    <p>Enter terms for the analogy in the word vector space.</p>
    {{ forms.input('Positive term', 'pos', 'femme') }}
    {{ forms.input('Negative term', 'neg', 'homme') }}
    <p>
      It will take a while to generate your sonnet (there are over 700,000 verses to choose from and the constraints of rhyme and analogy are rigorous). Please be patient!
    </p>
    <input type="submit" value="Send">
  </form>
{% endblock content%}
